<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="systems.v.wallet">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <!-- 必选-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络通信-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />  <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取MAC地址-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读写sdcard，storage等等 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />


    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--&lt;!&ndash; 可选&ndash;&gt;-->
        <!--<activity android:name="com.pgyersdk.feedback.FeedbackActivity"/>-->
        <!--&lt;!&ndash; Jar 包集成的方式 必填 &ndash;&gt;-->
        <!--<provider-->
            <!--android:name="com.pgyersdk.PgyerProvider"-->
            <!--android:authorities="systems.v.wallet.com.pgyer.provider"-->
            <!--android:exported="false"/>-->
        <!--&lt;!&ndash; 必填 &ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="PGYER_APPID"-->
            <!--android:value="88d214cf3f3337d9f21b327c0c7af901" >-->
        <!--</meta-data>-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="systems.v.wallet.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/external_storage_path" />
        </provider>

        <activity
            android:name=".ui.view.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.wallet.WalletInitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.detail.DetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.view.records.TransactionRecordsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.records.TransactionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.records.DateSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.wallet.BackupSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.wallet.ConfirmSeedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.wallet.GenerateSeedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.wallet.ImportSeedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.wallet.NetworkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.wallet.SetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.setting.DeviceLockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.setting.AboutUsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.wallet.TipsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.VerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.detail.ReceiveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.transaction.SendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".ui.view.transaction.ScannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Translucent" />

        <activity
            android:name=".ui.view.setting.AddressManagementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.setting.AddressManagementDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.main.AddColdAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Blue" />

        <activity
            android:name=".ui.view.transaction.ResultActivity"
            android:theme="@style/AppTheme.Transparent" />
    </application>

</manifest>